<div class="ml-2 mr-2">
  <table class="container mx-auto border-collapse border border-gray-300" style="min-height: 320px;">
    <thead>
      <tr>
        <th class="max-w-sm">
          Id
        </th>
        <th class="max-w-sm">
          Quote
        </th>
        <th class="min-w-52 text-center">
          Author
        </th>
      </tr>
    </thead>

    <tbody style="min-height: 320px;">
      @for (
        quote of dataSourceApiService.quotes();
        track quote.id
      ) {
        <tr class="border border-gray-300">
          <td class="min-w-12 pl-2 pr-2 text-center">{{ quote.id }}</td>
          <td class="pt-4 pb-4 pl-2 pr-2 truncate max-w-sm" [title]="quote.quote">{{ quote.quote }}</td>
          <td class="min-w-52 text-center">{{ quote.author }}</td>
        </tr>
      } @empty {
        @if (!dataSourceApiService.isloading()) {
          <tr>
            <td class="border border-gray-300 pt-4 pb-4 pl-2 pr-2 text-center" colspan="2">
              No quotes found
            </td>
          </tr>
        }
      }
    </tbody>
  </table>

  <div class="flex items-center justify-between font-semibold mt-2 ml-4 mr-4">
    <div class="status" [class.text-red-600]="error">
      <div class="status-text">
        {{ resourceStatusText[dataSourceApiService.status()] }}
      </div>
    </div>
    <span class="count">
      Quotes: {{ dataSourceApiService.quotes()?.length }}
    </span>
    <div>
      <button
        (click)="next()"
        class="cursor-pointer rounded-md border border-gray-300 p-2"
      >More</button>
    </div>
  </div>
</div>

