<h1 class="m-8 text-3xl font-bold underline">
  Angular Signals - A story of change
</h1>

<!-- <h4 class="text-l m-8 max-w-4xl tracking-widest">
  <div class="mb-4">
    Angular signals were introduced with Angular 16 (2023) as part of a number
    of changes in Angular, also called the Angular Renaissance.
  </div>

  <div class="mb-2">
    Used to synchronize application data with the UI (aka change detection) they
    intend to simplify developer experience and provide the foundations for
    future improvements in Angular.
  </div>
</h4> -->

<h2 class="m-4 text-2xl font-bold">Signals</h2>

<div class="grid grid-cols-[300px_minmax(330px,_1fr)] grid-rows-1 gap-2">
  <form [formGroup]="form">
    <fieldset class="ml-8 flex flex-col space-y-4">
      @for (option of signals; track option.label) {
      <div class="grid grid-cols-[140px_1fr] grid-rows-1 gap-8">
        <label [for]="option.value" [class.text-blue-600]="form.value.option === option.value"
          [class.font-bold]="form.value.option === option.value">{{ option.label }}</label>

        <input [id]="option.value" type="radio" formControlName="option" [value]="option.value"
          class="cursor-pointer" />
      </div>
      }
    </fieldset>
  </form>

  <div class="content">
    <div class="text-md mb-4 ml-8 text-center font-semibold text-green-600">
      Angular 19.2.4
    </div>

    @if (selected() === writableSignal) {
    <app-writable-signal />
    <div class="text-center text-lg font-semibold text-green-600">Stable</div>
    }

    @if (selected() === computedSignal) {
    <app-computed-signal />
    <div class="text-center text-lg font-semibold text-green-600">Stable</div>
    }

    @if (selected() === effectSignal) {
    <app-effect-signal />
    <div class="text-center text-lg font-semibold text-violet-600">
      Developer preview
    </div>
    }

    @if (selected() === linkedSignal) {
    <app-linked-signal />
    <div class="text-md mt-4 text-center font-semibold text-violet-600">
      Developer preview
    </div>
    }

    @if (selected() === resourceApi) {
    <app-resource />
    <div class="text-md mt-4 text-center font-semibold text-red-600">
      Experimental
    </div>
    }
  </div>
</div>